---
export interface Props {
  contentId: string;
}

const { contentId } = Astro.props;
---

<div id="editor-placeholder" data-content-id={contentId}></div>

<script>
  import { makeRemoteTestRunnerFactory } from 'testing/actor'

  import { Language } from "@/lib/languages";
  import { mountEditor } from "@/adapters/svelte-editor";
  
  import { testsData } from "./tests-data";
  
  import JsWorker from '@/lib/workers/js?worker';
  import jsCode from './code.js?raw';
  import { universalFactory } from './js-factory'

  mountEditor(testsData, {

    [Language.JavaScript]: {
      initialValue: jsCode,
      testRunnerFactory: makeRemoteTestRunnerFactory(JsWorker, universalFactory),
    },

  });
</script>
