---
export interface Props {
  contentId: string;
}

const { contentId } = Astro.props;
---

<div id="editor-placeholder" data-content-id={contentId}></div>

<script>
  import { Language } from "@/lib/languages";
  import { mountEditor } from "@/adapters/svelte-editor";
  import { makeRemoteTestRunnerFactory } from "@/adapters/testing-actor";

  import { testsData } from "./tests-data";
  import { jsCode, JsWorker } from "./js";
  import { tsCode, TsWorker } from "./ts";
  import { phpCode, PhpWorker } from "./php";
  import { pyCode, PyWorker } from "./python";

  mountEditor(testsData, {
    [Language.PHP]: {
      initialValue: phpCode,
      testRunnerFactory: makeRemoteTestRunnerFactory(PhpWorker),
    },
    [Language.TypeScript]: {
      initialValue: tsCode,
      testRunnerFactory: makeRemoteTestRunnerFactory(TsWorker),
    },
    [Language.JavaScript]: {
      initialValue: jsCode,
      testRunnerFactory: makeRemoteTestRunnerFactory(JsWorker),
    },
    [Language.Python]: {
      initialValue: pyCode,
      testRunnerFactory: makeRemoteTestRunnerFactory(PyWorker),
    },
  });
</script>
