[submodule "packages/rust-runtime/rust"]
	path = packages/rust-runtime/rust
	url = git@github.com:x0k/rust.git
	branch = miri-wasm
[submodule "packages/java-runtime/doppio"]
	path = packages/java-runtime/doppio
	url = https://github.com/plasma-umass/doppio.git
