---
import { getRelativeLocaleUrl } from 'astro:i18n'

import { Page } from "@/shared";
import { type Lang, useTranslations, getPageLabel } from '@/i18n';
import Logo from '@/components/logo.astro';

export interface Props {
  currentPage: Page
}

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
---

<div class="navbar bg-base-100 max-w-4xl m-auto gap-3">
	<Logo lang={lang} />
	<a class="link link-hover" href={getRelativeLocaleUrl(lang, Page.Problems)}>{t(getPageLabel(Page.Problems))}</a></li>
</div>
