---
import { Page } from "@/shared";
import Logo from "@/components/logo.svelte";
import { localizeHref } from '@/paraglide/runtime';
import * as m from "@/paraglide/messages";

export interface Props {
  currentSection: Page;
}
---

<div class="navbar bg-base-100 max-w-4xl m-auto gap-3">
  <Logo />
  <span class="grow"> Programming Patterns Practice </span>
  <a class="link link-hover" href={localizeHref(Page.Editor)}
    >{m.editorPageTitle()}</a
  >
  <a class="link link-hover" href={localizeHref(Page.Problems)}
    >{m.problemsPageTitle()}</a
  >
</div>
