---
import { Icon } from "astro-icon/components";

import { RESET_BUTTON_ID } from '@/shared'
import type { ProblemCategory } from '@/shared/problems'
import { type Lang, getProblemCategoryLabel, useTranslations } from '@/i18n'
import Logo from '@/components/logo.astro';

export interface Props {
  category: ProblemCategory
}

const lang = Astro.currentLocale as Lang
const t = useTranslations(lang)

const { category } = Astro.props
---

<main class="h-full overflow-hidden flex">
  <div class="h-full overflow-auto grow">
    <div class="h-full flex flex-col">
      <div class="p-6">
        <div class="flex gap-3 items-center mb-8">
          <Logo lang={lang} />
          <div class="breadcrumbs">
            <ul>
              <li><a>{t(getProblemCategoryLabel(category))}</a></li>
            </ul>
          </div>
          <div class="join ml-auto rounded">
            <button class="btn btn-ghost join-item"
              ><Icon name="lucide:chevron-left" /></button
            >
            <button class="btn btn-ghost join-item"
              ><Icon name="lucide:chevron-right" /></button
            >
            <button class="btn btn-ghost join-item"
              ><Icon name="lucide:shuffle" /></button
            >
            <button id={RESET_BUTTON_ID} class="btn btn-ghost join-item"
              ><Icon name="lucide:rotate-ccw" /></button
            >
          </div>
        </div>
        <div class="prose prose-lg max-w-none">
          <slot />
        </div>
      </div>
    </div>
  </div>
  <div class="h-full">
    <slot name="editor" />
  </div>
</main>
