---
import type { CollectionEntry } from 'astro:content'
import { getRelativeLocaleUrl } from 'astro:i18n'

import { Page } from '@/shared'
import type { Lang } from '@/i18n'

export interface Props {
  problems: CollectionEntry<'problems'>[]
}

const { problems } = Astro.props

const lang = Astro.currentLocale as Lang
---
<ul>
  {
    problems.map((entry) => (
      <li>
        <a href={getRelativeLocaleUrl(lang, `${Page.Problems}/${entry.id}`)}>{entry.data.title}</a>
      </li>
    ))
  }
</ul>
