---
import type { CollectionEntry } from "astro:content";

import { Page } from "@/shared";
import { localizeHref } from "@/paraglide/runtime";

export interface Props {
  problems: CollectionEntry<"problems">[];
}

const { problems } = Astro.props;
---

<ul>
  {
    problems.map((entry) => (
      <li>
        <a href={localizeHref(`${Page.Problems}/${entry.id}`)}>
          {entry.data.title}
        </a>
      </li>
    ))
  }
</ul>
