@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: business --default;
}
@plugin "daisyui/theme" {
  name: "business";
  default: true;
  --color-base-100: oklch(28% 0 0);
}