---
import { Icon } from "astro-icon/components";

import Problem from "@/layouts/problem.astro";

import { Content as Description } from "@/example/description.mdx";
---

<Problem title="Example">
  <div slot="description" class="h-full flex flex-col">
    <div class="p-6">
      <div class="flex gap-3 items-center mb-8">
        <div class="avatar placeholder">
          <div class="bg-base-300 text-neutral-content rounded-md w-12">
            <span class="text-xl">3P</span>
          </div>
        </div>
        <div class="breadcrumbs">
          <ul>
            <li><a>Design Patterns</a></li>
          </ul>
        </div>
        <button class="btn btn-ghost ml-auto">
          Sign in
          <Icon name="lucide:log-in" />
        </button>
      </div>
      <div class="prose prose-lg max-w-none">
        <Description />
      </div>
    </div>
  </div>
  <div slot="editor" class="flex flex-col h-full">
    <div id="code-editor" class="grow"></div>
    <div
      class="p-4 bg-base-200 border-t border-base-100 flex items-center gap-3"
    >
      <button class="btn btn-sm btn-primary"> Run </button>
      <button class="btn btn-sm btn-secondary"> Case 1 </button>
      <button class="btn btn-sm btn-secondary"> Case 2 </button>
      <select class="select select-sm ml-auto">
        <option> PHP </option>
      </select>
    </div>
  </div>
</Problem>

<script>
  import { editor } from "monaco-editor";
  import EditorWorker from "monaco-editor/esm/vs/editor/editor.worker?worker";
  import code from "@/example/code.php?raw";

  const model = editor.createModel(code, "php");

  window.MonacoEnvironment = {
    getWorker(_, label) {
      switch (label) {
        case "editorWorkerService":
          return new EditorWorker();
        default:
          throw new Error(`Unknown label ${label}`);
      }
    },
  };

  const codeEditorElement = document.getElementById("code-editor");
  if (!codeEditorElement) {
    throw new Error("Code editor element not found");
  }
  editor.create(codeEditorElement, {
    model: model,
    theme: "vs-dark",
    language: "php",
    automaticLayout: true,
  });
</script>
