---
import { Icon } from "astro-icon/components";

import Problem from "@/layouts/problem.astro";

import Editor from "@/content/design-patterns/factory/editor.svelte";

import { Content as Description } from "@/content/design-patterns/factory/description.mdx";
---

<Problem title="Example">
  <div slot="description" class="h-full flex flex-col">
    <div class="p-6">
      <div class="flex gap-3 items-center mb-8">
        <div class="avatar placeholder">
          <div class="bg-base-300 text-neutral-content rounded-md w-12">
            <span class="text-xl">3P</span>
          </div>
        </div>
        <div class="breadcrumbs">
          <ul>
            <li><a>Design Patterns</a></li>
          </ul>
        </div>
        <div class="join ml-auto rounded">
          <button class="btn btn-ghost join-item"><Icon name="lucide:chevron-left" /></button>
          <button class="btn btn-ghost join-item"><Icon name="lucide:chevron-right" /></button>
          <button class="btn btn-ghost join-item"><Icon name="lucide:shuffle" /></button>
        </div>
      </div>
      <div class="prose prose-lg max-w-none">
        <Description />
      </div>
    </div>
  </div>
  <Editor slot="editor" client:only="svelte" />
</Problem>
