---
import { Icon } from "astro-icon/components";

import Problem from "@/layouts/problem.astro";

import Editor from "@/components/editor.svelte";

import { Content as Description } from "@/content/design-patterns/factory/description.mdx";
---

<Problem title="Example">
  <div slot="description" class="h-full flex flex-col">
    <div class="p-6">
      <div class="flex gap-3 items-center mb-8">
        <div class="avatar placeholder">
          <div class="bg-base-300 text-neutral-content rounded-md w-12">
            <span class="text-xl">3P</span>
          </div>
        </div>
        <div class="breadcrumbs">
          <ul>
            <li><a>Design Patterns</a></li>
          </ul>
        </div>
        <button class="btn btn-ghost ml-auto">
          Sign in
          <Icon name="lucide:log-in" />
        </button>
      </div>
      <div class="prose prose-lg max-w-none">
        <Description />
      </div>
    </div>
  </div>
  <div slot="editor" class="flex flex-col h-full bg-base-300">
    <Editor client:only="svelte" />
  </div>
</Problem>
