---
import Root from "./root.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Root title={title}>
  <slot name="nav" />
  <div class="flex justify-center">
    <main
      class="p-6 pb-10 w-full lg:max-w-4xl max-w-[100vw]"
      transition:animate="slide"
    >
      <slot />
    </main>
  </div>
</Root>
