<div id="editor-placeholder"></div>

<script>
  import { Language } from "@/shared/languages";
  import { mountEditor } from "@/components/editor-wrapper";

  import { testCases } from "./tests-data";
  import { jsCode, jsFactory } from "./js";
  import { tsCode, tsFactory } from "./ts";
  import { phpCode, phpFactory } from "./php";
  import { pyCode, pyFactory } from "./python";
  import { goCode, goFactory } from "./go";
  import { rustCode, rustFactory } from "./rust";
  import { gleamCode, gleamFactory } from "./gleam";
  import { csCode, csFactory } from "./csharp";
  import { javaCode, javaFactory } from './java'

  mountEditor(testCases, {
    [Language.JavaScript]: {
      initialValue: jsCode,
      factory: jsFactory,
    },
    [Language.TypeScript]: {
      initialValue: tsCode,
      factory: tsFactory,
    },
    [Language.PHP]: {
      initialValue: phpCode,
      factory: phpFactory,
    },
    [Language.Python]: {
      initialValue: pyCode,
      factory: pyFactory,
    },
    [Language.Go]: {
      initialValue: goCode,
      factory: goFactory,
    },
    [Language.Rust]: {
      initialValue: rustCode,
      factory: rustFactory,
    },
    [Language.Gleam]: {
      initialValue: gleamCode,
      factory: gleamFactory,
    },
    [Language.CSharp]: {
      initialValue: csCode,
      factory: csFactory,
    },
    [Language.Java]: {
      initialValue: javaCode,
      factory: javaFactory
    }
  });
</script>
